packer {
  required_plugins {
    amazon = {
      version = ">= 0.0.4"
      source  = "github.com/hashicorp/amazon"
    }
  }
}

data "amazon-ami" "ubuntu" {
  filters = {
    virtualization-type = "hvm"
    name                = "ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-*"
    root-device-type    = "ebs"
  }
  owners      = ["099720109477"]
  most_recent = true
}

locals {
  timestamp = regex_replace(timestamp(), "[- TZ:]", "")
}

source "amazon-ebs" "{{ os_type }}" {
  ami_name      = "packer-example {{ os_type }}-"
  instance_type = "t2.micro"
  region        = "us-west-2"
  source_ami    = "{{ source_ami }}"
  ssh_username  = "ubuntu"
}

build {
  name    = "{{ os_type }}-ami"
  sources = ["source.amazon-ebs.{{ os_type }}"]
  provisioner "shell" {
    inline = ["echo 'Building AMI for {{ os_type }}'"]
  }
}
