packer {
  required_plugins {
    docker = {
      version = ">= 0.0.7"
      source  = "github.com/hashicorp/docker"
    }
  }
}

source "docker" "{{ os_type }}" {
  image  = "{{ os_image }}"
  commit = true
}

build {
  name    = "{{ os_type }}-docker-image"
  sources = ["source.docker.{{ os_type }}"]
  provisioner "shell" {
    inline = ["echo 'Building Docker image for {{ os_type }}'"]
  }
}
